<div class="w-full container mx-auto px-4 md:px-6 pt-28 md:pb-20 space-y-10">
    <!-- Header + Share -->
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2">
        <h1 class="text-xl md:text-3xl font-semibold text-gray-900 mb-2 md:mb-0">Resume ATS Optimization Dashboard</h1>
        <button (click)="shareBtn()" class="text-base border border-gray-300 font-medium rounded-full px-4 py-2 cursor-pointer hover:bg-[#EFB000]/50"><img
            src="./assets/images/share.png" alt="share" class="w-4 h-4 inline-block"> Share Analysis</button>
    </div>

    <!-- Score and Keywords -->
    <div class="grid grid-cols-1 lg:grid-cols-[67%_30%] gap-8">
        <!-- Score Card -->
        <div class="bg-white shadow rounded-xl p-6">
            <div class="text-xl md:text-2xl font-medium mb-8">ATS Compatibility Score
                <p class="text-base text-gray-500 font-medium mb-4">Overall match between your resume and the job
                    description.</p>
            </div>
            <div class="flex flex-col gap-6 justify-center items-center mb-8">
                <div class="relative w-[200px] h-[200px]">
                    <svg viewBox="0 0 36 36" class="absolute top-0 left-0 w-full h-full -rotate-90">
                        <path d="M18 2.0845a15.9155 15.9155 0 1 0 0.0001 0" class="text-gray-200" fill="none"
                            stroke="currentColor" stroke-width="3.8" />
                        <path d="M18 2.0845a15.9155 15.9155 0 1 1-8.012 29.8455"
                            [attr.stroke-dasharray]="score + ', 100'" class="text-blue-500" fill="none"
                            stroke="currentColor" stroke-width="3.8" />
                    </svg>
                    <div class="absolute inset-0 flex items-center justify-center text-3xl font-bold text-blue-600">
                        {{ resumeScore?.resume_score }}%
                    </div>
                </div>
            </div>
            <div class="text-xl mt-2 mb-4 text-green-500 text-center">
                {{resumeScore?.ats_friendly_status}}
            </div>
            <div class=" text-base align-justify text-gray-700 text-center mt-4">
                    {{resumeScore?.resume_feedback}}
                <!-- <p class="items-center text-base font-medium mt-8"><img src="./assets/images/right-up.png" alt="arrow"
                        class="w-4 h-4 inline-block"> Improved by 15% compared to previous analysis</p> -->
            </div>
        </div>

        <!-- Keyword Analysis -->
        <div class="bg-white shadow rounded-xl p-6">
            <div class="text-lg font-medium mb-4">Keyword Analysis
                <p class="text-base text-gray-500 mb-2 ">Identify key terms from JD found and missing in your resume</p>
            </div>
            <div class="text-base">
                <div class="text-red-600 font-semibold mb-4"><img src="./assets/images/delete.png" alt="warning"
                        class="w-4 h-4 inline-block"> Missing Keywords</div>
                <ul class="list-disc list-inside text-gray-700 space-y-2">
                    <li *ngFor="let kw of resumeScore?.missing_keywords">{{ kw }}</li>
                </ul>
                <div>
                    <p class="text-gray-800 font-semibold text-base mt-4 mb-4"><img src="./assets/images/check.png"
                            alt="warning" class="w-4 h-4 inline-block"> Found Keywords</p>
                    <ul class="space-y-2">
                        <li *ngFor="let kw of resumeScore?.found_keywords" class="flex justify-between text-base text-gray-700">
                            <!-- <i class="fa fa-"></i> -->
                            {{ kw }}
                            <!-- <span class="text-yellow-500 font-medium">{{ kw.count }} times</span> -->
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Register CTA -->
    <div class="w-full text-center border border-blue-100 p-6 md:p-12 rounded-xl">
        <h2 class="text-xl md:text-2xl font-semibold text-gray-900 mb-2">Ready to Optimize Your Resume?</h2>
        <p class="text-base text-gray-600 mb-4 max-w-xl mx-auto text-center">Leverage these tailored suggestions to
            refine your
            resume and increase your chances of passing ATS scans.</p>
        <button
            class="px-6 py-2 w-full md:w-1/2 rounded-lg text-white bg-blue-600 hover:bg-blue-700 font-medium text-base shadow mt-4"><img
                src="./assets/images/download.png" alt="download" class="w-4 h-4 inline-block mr-2 cursor-pointer">
            Register Now</button>
    </div>

    <!-- Suggestions Section -->
    <h2 class="text-xl md:text-3xl font-semibold text-gray-900">Suggestions and Improvements</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div *ngFor="let suggestion of suggestions; let index = index" class="bg-white rounded-xl shadow p-5">
            <div class="flex items-start gap-3 mb-2">
                <img [src]="suggestion.icon" class="w-6 h-6 mt-1" alt="{{ suggestion.title }} Icon" />
                <h3 class="font-semibold text-gray-800 text-lg">{{ suggestion.title }}</h3>
            </div>
            <p class="text-base text-gray-600 leading-snug mb-4">
                {{ suggestion.description }}
            </p>
            <!-- <p class="text-base text-blue-600 leading-snug">
                {{ suggestion.text }}
            </p> -->
        </div>
    </div>

</div>