<app-header [videoHeader]="false"></app-header>
<div>
    <!-- ✅ Loader (outside of flex box) -->
    <ng-container *ngIf="showLoader; else scoreSection">
        <app-resume-loader (loadingComplete)="handleLoadingComplete()"></app-resume-loader>
    </ng-container>

    <!-- ✅ Main Content (Score + Tailoring) -->
    <ng-template #scoreSection>
        <div class=" flex flex-col lg:flex-row justify-center gap-6 min-h-screen py-10 px-4">
            <div>
                <app-ats-dashboard></app-ats-dashboard>
            </div>
        </div>
    </ng-template>
</div>